.pulse-animation {
  animation: createBox 1s infinite;
}

@keyframes createBox {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255, 0.8);
}
