/*
:root {
  --color-bg-primary: rgb(45, 45, 45);
  --color-bg-secondary: rgb(68, 68, 68);
  --color-bg-tertiary: rgb(36, 35, 35);
  --color-grey-md: rgb(114, 114, 114);
}

body {
  text-align: center;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-bg-primary);
  margin: 0 auto;
}

h1 {
  text-shadow: 6px 6px 14px #cbc51a;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

button {
  margin: 5px;
}

.spin {
  display: inline-block;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.width-100-perc {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.postgres-logo {
  width: 150px;
  display: inline-block;
  animation: spin 10s infinite linear;
  filter: invert(0%) sepia(26%) saturate(6574%) hue-rotate(325deg)
    brightness(107%) contrast(99%);
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.card-main {
  color: white;
  width: 500px;
  box-shadow: 3px 3px 6px var(--color-bg-tertiary);
  border-radius: 8px;
  padding: 10px;
  background-color: var(--color-bg-secondary);
  margin: 100px auto;
}

input {
  background-color: var(--color-grey-md);
  border: none;
  border-radius: 4px;
  padding: 5px;
}

button {
  background-color: var(--color-grey-md);
  border: none;
  border-radius: 4px;
  padding: 5px;
}

.card-main input {
  width: 75%;
}
*/

.pulse-animation {
  animation: createBox 1s infinite;
}

@keyframes createBox {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}
